// Color
$color-black-0: #000;
$color-black-1: #29303b;
$color-black-2: rgba(20, 23, 28, 0.1);
$color-black-3: rgba(255, 255, 255, 0.3);
$color-black-4: #4a4a4a;
$color-black-5: #141415;
$color-black-6: #0f0f10;
$color-white-0: #fff;
$color-black-light: #505763;
$color-white-cream: #f2f3f5;
$color-red-0: #ec5252;
$color-red-1: #521822;
$color-red-2: #FF0000;
$color-gray-0: #686f7a;
$color-gray-1: rgba(20, 23, 28, 0.05);
$color-gray-2: #dee2e6;
$color-gray-3: #a1a7b3;
$color-gray-4: #dedfe0;
$color-gray-5: rgba(20, 23, 28, 0.25);
$color-gray-6: #f7f8fa;
$color-gray-7: #dedede;
$color-gray-8: #838396;
$color-gray-9: #888888;
$color-gray-10: #8F9BB3;
$color-blue-0: #007791;
$color-blue-1: #76c5d6;
$color-blue-2: #D9EDF7;
$color-yellow-0: #fbbd61;
$color-orange-0: #ec7532;
$color-purple: #6e1a52;

// Dark Color
$color-dark-0: #152e4d;
$color-dark-1: #061325;
$color-dark-2: #344050;
$color-dark-3: #9da9bb;
$color-dark-4: #0e1c2f;
$color-dark-5: #d8e2ef;
$color-dark-6: #132238;


// font-size
$fs-0: 14px;
$fs-1: 30px;
$fs-2: 40px;
$fs-3: 18px;
$fs-4: 24px;


// font-weight
$fw-0: normal;
$fw-1: 600;
$fw-2: 700;
$fw-3: 900;


// line-height
$line-height-0: 1.5;


// letter-spacing
$letter-spacing-0: 2px;
$letter-spacing-1: 3px;
$letter-spacing-2: 8px;
$letter-spacing-3: 1px;


// word-spacing
$word-spacing-0: 8px;


// margin
$mg-0: 5px;
$mg-1: 10px;
$mg-2: 15px;
$mg-3: 20px;
$mg-4: 30px;


// padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;
$pd-4: 24px;
$pd-5: 35px;


// border-radius
$border-radius: 2px;
$border-radius-0: 10px;
$border-radius-1: 34px;


// breakpoints
$breakpoints: (
    "screen-1": 1350px,
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px,
)





