.darkMode {
    .signUp {
        .signUp__formContent {
            border-color: $color-dark-0;
            box-shadow: 0 4px 16px $color-dark-3;
            .enterName, .enterBirthday, .enterEmail, .enterPassword, .enterPasswordAgain {
                label {
                    color: $color-white-0;
                }
                input {
                    background-color: $color-dark-0;
                    border-color: $color-blue-0;
                    color: $color-white-0;
                    &:focus {
                        border: 1px solid $color-dark-3;
                        box-shadow: 1px 1px 2px 0px $color-dark-3;
                    }
                }
            }
        }
    }
}
