.productDetail {
    padding: 100px 0;
}

.productDetail .product-top p {
    font-size: 15px;
    display: inline-block;
}

.productDetail .product-top {
    padding: 0;
}

.productDetail .product-top ol {
    padding: 0;
}

.productDetail .product-top ol a {
    color: #ec7532;
}

.productDetail .product-content-left-big-img {
    width: 80%;
    padding-right: 10px;
}

.productDetail .product-content-left-big-img img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.productDetail .product-content-left-small-img {
    width: 20%;
    float: left;
    position: relative;
    padding-right: 10px;
    overflow: hidden;
}

.productDetail .product-content-left-small-img img {
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
}

.productDetail .product-content-right {
    padding-left: 20px;
    padding-right: 20px;
}

.productDetail .product-name h1 {
    font-size: 30px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-top: 16px;
}

.productDetail .product-price {
    color: red;
    font-weight: bold;
}

.productDetail .product-color a {
    text-decoration: none;
    color: black;
}

.productDetail .product-color a:hover {
    text-decoration: underline;
    text-decoration-color: #ec7532;
}

.productDetail .colors-item .active {
    background-color: #ec7532;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #fff !important;
    font-weight: bold;
}

.productDetail .size-type {
    margin-bottom: 10px;
}

.productDetail .size-type span {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #ddd;
    min-width: 30px;
    height: 30px;
    text-align: center;
    margin: 12px 10px 12px 10px;
    cursor: pointer;
}

.productDetail .downqty {
    width: 34px;
    padding: 4px 6px;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #dadada;
    margin-left: 5px;
}

.productDetail .upqty {
    width: 34px;
    padding: 4px 6px;
    border-radius: 4px;
    margin-right: 0px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #dadada;
    margin-left: 5px;
    display: inline-block;
}

.productDetail .quantity input.soluong {
    width: 80px;
    text-align: center;
    border-radius: 4px;
}

.productDetail .quantity-button {
    display: flex;
    margin-bottom: 15px;
}

.productDetail .cart-btn,
.productDetail .buy-now-btn {
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 45px;
    outline: none;
    font-size: 18px;
    background-color: #ec7532;
    color: #fff;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.productDetail .btn {
    cursor: pointer;
}

.productDetail .panel-title ul {
    padding: 0;
    margin-bottom: 0;
    margin-top: 16px;
    list-style-type: none;
}

.productDetail .panel-title {
    border-bottom: 2px solid #ddd;
}

.productDetail .panel-title-item {
    padding: 4px;
    display: inline-block;
    cursor: pointer;
}

.productDetail .panel-title li {
    margin: 0;
}

.productDetail .panel-title-item p {
    margin-bottom: 0;
}

.productDetail .panel-title-item a {
    display: inline-block;
    font-size: 14px;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
    color: black;
}

.productDetail .panel-menu {
    display: block;
}

.productDetail .panel-title-item a:hover {
    text-decoration: none;
    background-color: #ec7532;
    color: #fff;
}

.productDetail .panel-title-content {
    padding-top: 30px;
}

.productDetail .panel-title-content p {
    font-size: 14px;
}

.productDetail .panel-title-content i {
    font-size: 14px;
}

/* PRODUCT-RELATED */

.productDetail .product-related {
    position: relative;
    margin: 20px 0 40px 0;
    border-bottom: 1px solid #888;
    color: #484949;
    font-size: 20px;
    text-align: center;
}

.productDetail .product-related-title p {
    position: relative;
    float: none;
    padding: 0 25px;
    background: #fff;
    top: 12px;
    letter-spacing: 0.1em;
    color: #484949;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.productDetail .product-related-carousel {
    margin-top: 20px;
}

.productDetail .product-related-item img {
    width: 100%;
}

.productDetail .owl-carousel {
    display: block;
    width: 100%;
}

.productDetail .product-related-item h3 a {
    height: 30px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: black;
    margin-top: 10px;
}

.productDetail .panel-title-content ul {
    list-style-type: none;
    padding: 0;
}

.productDetail .panel-title-content li {
    padding-left: 0;
    padding-top: 4px;
    position: relative;
    margin-bottom: 20px;
}

/* ICON infoList-delivery */

.productDetail .panel-title-content .infoList-delivery .ti-shield,
.productDetail .panel-title-content .infoList-delivery .ti-truck,
.productDetail .panel-title-content .infoList-delivery .ti-reload {
    padding-right: 10px;
}

@media (max-width: 575.98px) {
    .productDetail {
        margin-left: 10px;
        margin-right: 10px;
    }
}
